<link href="../header.html?__inline" rel="import">
<link href="../../assets/h+/css/style.min.css?v=4.1.0">
<script src="index.js?__inline"></script>
<div class="wrapper wrapper-content" id="admin">
    <div style="margin-left:25px;">
        <h6>文章内容</h6>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-4 col-md-2">
                <button class="btn btn-sm btn-primary" type="submit" @click="add()">
                    <i class="fa fa-plus"></i>
                    添加
                </button>
            </div>
        </div>
    </div>

    <div class="ibox-content">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>张三</td>
                <td>男</td>
                <td>23</td>
            </tr>
            <tr>
                <td>2</td>
                <td>李四</td>
                <td>男</td>
                <td>27</td>
            </tr>
            <tr>
                <td>3</td>
                <td>王麻子</td>
                <td>男</td>
                <td>65</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>
